<div class="container position-relative border bg-container col-8">
  <h1 class="py-4"> Current Loans </h1>
  <div *ngFor="let loan of loans" class="p-3 flex-wrap d-flex bg-white border col-12 mb-3 justify-content-between">
      <h3 class="mt-1 col-8">{{loan?.title}}</h3>
      <span *ngIf="loan?.isInvested" class="col-2 invested justify-content-right">Invested</span>
      <p class="col-8 mt-3">Analised return: {{loan?.annualised_return}}; Amount: {{loan?.amount}}</p>
      <button class="btn btn-bg border col-3 mb-3" (click)="onButtonClick(loan?.id)">INVEST</button>
  </div>
  <p class="text-center">Total amount available for investments: <b>£{{availableSum()}}</b></p>
</div>
<div *ngIf="!isPopupShown" class="modale">
<div class="my-form container position-absolute top-50 start-50 translate-middle border bg-light col-4 fs-6">
  <div class="d-flex justify-content-between col"><p class="mt-1 col-10"><b>Invest in Loan</b></p><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onButtonChange(loan?.id)"></button></div>
  <p>{{currentLoan?.title}}
    <br>
    <br>Amount available: £ {{currentLoan?.available}}
    <br>Loan ends in: {{currentLoan?.term_remaining | date}}
    <br>
    <br>Investment amount (£)
  </p>
  <div class="d-flex justify-content-between col">
    <input type="number" class="col-7 input-style" placeholder="0" #yourAvailable>
    <button class="btn btn-bg border col-4 mb-3" (click)="changeAvailable(yourAvailable)" (click)="onButtonChange(loan?.id)">INVEST</button>
  </div>
</div>
</div>
